<nav>
    <a routerLink="/page1">Page 1</a>
    <a routerLink="/page2">Page 2</a>
    <a routerLink="/page3">Page 3</a>
    <a routerLink="/parent" [queryParams]="{name: 'Bob'}">Parent</a>
    <a routerLink="lazy">Lazy</a>
</nav>

<div class="router-wrapper">
    <router-outlet>
    </router-outlet>
</div>
