<div class="parent-wrapper">
    <p>
        parent works!
    </p>
    <nav>
    </nav>
    <router-outlet>
    </router-outlet>

    <button (click)="showChild(1)">Child1</button>
    <button (click)="showChild(2)">Child2</button>
    <button (click)="showChild(3)">Child3</button>

</div>
